.computed-card {
  background-color: hsl(183, 100%, 15%);
  border-radius: 1.8rem;
  padding: 4rem;
  display: grid;
  grid-auto-rows: auto;
  row-gap: 6rem;
}

.amount {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.amount__name {
  color: hsl(0, 0%, 100%);
  font-size: 1.3rem;
  align-self: end;
}

.amount__per-label {
  font-size: 1.2rem;
  color: hsl(185, 25%, 53%);
}

.amount__value {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  justify-self: end;
  align-self: center;
  color: hsl(172, 67%, 45%);
  font-size: 4rem;
}

.btn-reset {
  align-self: end;
  background-color: hsl(183, 79%, 24%);
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  color: hsl(183, 94%, 19%);
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding: 1.2rem 0;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.btn-reset:hover {
  background-color: hsl(173, 61%, 77%);
  color: hsl(183, 100%, 15%);
}

.btn-reset--active {
  background-color: hsl(172, 67%, 45%);
}
