.inputs-card {
  display: grid;
  row-gap: 4.5rem;
}

.input {
  width: 100%;
  border: 3px solid transparent;
  outline: none;
  background-color: var(--color-input-bc);
  font-size: 2rem;
  text-align: end;
  padding: 1rem 1.5rem 1rem 5rem;
  border-radius: 0.5rem;
  font-family: inherit;
  font-weight: 700;
  color: var(--color-secondary);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 2rem;
  transition: border 0.2s ease;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type='number'] {
  -moz-appearance: textfield;
}

.input::placeholder {
  opacity: 0.6;
}

.input:focus {
  outline: 3px solid var(--color-primary);
}

.input-bill {
  background-image: url('../assets/images/icon-dollar.svg');
}

.input-persons {
  background-image: url('../assets/images/icon-person.svg');
}

.input-label {
  display: inline-block;
  font-weight: 700;
  color: var(--color-input-label);
  margin-bottom: 1rem;
}
