.tip-btns-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11.5rem, 1fr));
  gap: 1.3rem;
}

.tip-btn {
  font-size: 2rem;
  font-family: inherit;
  border: none;
  color: #fff;
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 0.7rem 0;
  background-color: hsl(183, 100%, 15%);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.tip-btn--active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.tip-btn:hover {
  background-color: hsl(173, 61%, 77%);
  color: hsl(183, 100%, 15%);
}

.custom-tip-input {
  border: 3px solid transparent;
  background-color: hsl(202, 50%, 97%);
  font-size: 2rem;
  text-align: end;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-family: inherit;
  font-weight: 700;
  color: hsl(183, 100%, 15%);
  transition: outline 0.2s ease;
  cursor: pointer;
}

.custom-tip-input:focus {
  outline: 3px solid hsl(172, 67%, 45%);
}

.custom-tip-input::placeholder {
  text-align: center;
}
