.App {
  font-size: 1.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8rem;
}

@media only screen and (max-width: 50.625em) {
  .App {
    position: relative;
    padding-top: 5rem;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    row-gap: 4rem;
  }
}
