.options-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11.5rem, 1fr));
  gap: 1.3rem;
}

.custom-tip-input {
  text-align: center;
  padding: 0.4rem 1rem;
}

.custom-tip-input::placeholder {
  text-align: center;
}
