.options-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11.5rem, 1fr));
  gap: 1.3rem;
}

.option {
  font-size: 2rem;
  font-family: inherit;
  border: none;
  color: var(--color-tertiary);
  font-weight: 700;
  border-radius: 0.5rem;
  padding: 0.7rem 0;
  background-color: var(--color-secondary);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.option--active {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.option:hover {
  background-color: var(--color-btn-hover);
  color: var(--color-secondary);
}

.custom-tip-input {
  text-align: center;
  padding: 0.4rem 1rem;
}

.custom-tip-input::placeholder {
  text-align: center;
}
